<!DOCTYPE html>
<html>
  <head>
    <title>LetMeHelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% if flash[:notice] %>
      <h1 class="text-danger"><%= flash[:notice] %></h1>
    <% end %>
    <div class="container py-4">
      <%= yield %>
    </div>
  </body>
</html>
